@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info accent-danger"><i class="far fa-envelope accent-danger"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequest)</span>

            </div>

        </div>
       
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprovedRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequest)</span>

            </div>

        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.PendingRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequest)</span>

            </div>

        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequest</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequest)</span>

            </div>

        </div>
      
    </div>
</div>




<table id="tbldata" class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                LeaveType
            </th>
            <th>
                DateRequested
            </th>

            <th>
                Approved
            </th>

            <th></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname)  @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>

                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejecetd</span>

                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>

                    }
                </td>

                <td>
                    
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-file"></i> Review</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
